<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th class="<%= sort_class('title') %>">
          <%= link_to "Title #{sort_cue('title')}".html_safe, { sort: "title", direction: sort_direction("title") } %>
        </th>
        <th class="<%= sort_class('rating') %>">
          <%= link_to "Rating #{sort_cue('rating')}".html_safe, { sort: "rating", direction: sort_direction("rating") } %>
        </th>
        <th class="<%= sort_class('release_date') %>">
          <%= link_to "Release Date #{sort_cue('release_date')}".html_safe, { sort: "release_date", direction: sort_direction("release_date") } %>
        </th>
        <th>Actions</th>
      </tr>
    </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.title %></td>
        <td><%= movie.rating %></td>
        <td><%= movie.release_date.strftime('%d %B %Y') %></td>
        <td>
          <%= link_to "Show this movie", movie %>
        </td>
      </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <td colspan="4">
        <%= link_to "New movie", new_movie_path %>
      </td>
    </tr>
    </tfoot>
  </table>
</div>